:root {
  --color-greensheen: #81b29a;
  --color-lavender: #f7edf0;
  --color-scuro: #ddd3d6;
  --color-lava: #c81d25;
  --color-tealblue: #077187;
  --color-tablechiaro: #c7f8eb;
  --color-tablescuro: #21a9af;
}
nav {
  background-image: url("https://cdn.discordapp.com/attachments/983651757311815720/984770654597414963/unknown.png");
  max-width: 100%;
  background-size: 200vh;
}
.carousel {
  width: 400px;
  height: 360px;
  margin: auto;
  display: block;
}

body {
  background-color: whitesmoke;
}

footer {
  background-image: url("https://cdn.discordapp.com/attachments/983651757311815720/984770654597414963/unknown.png");
  width: 100%;
  max-height: 70%;
  background-size: 200vh;
}

.logo {
  position: absolute;
  left: 2vh;
  bottom: -40vh;
  opacity: 0.6;
}

#navbardrop {
  border-radius: 30px 30px 30px 30px;
  color: black;
  width: 20vh;
  border: outset;
  border-color: white;
  width: 15vh;
  background-color: #b4e9f3;
  opacity: 0.7;
}
.col-md-6 {
  border-radius: 50px 50px 50px 50px;
  color: white;
  width: 60vh;
  border: outset;
  border-color: white;
}
.col-md-4 {
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  color: white;
  width: 20vh;
  border: outset;
  border-color: white;
}
/* social */
