:root {
  --color-greensheen: #81b29a;
  --color-lavender: #f7edf0;
  --color-scuro: #ddd3d6;
  --color-lava: #c81d25;
  --color-tealblue: #077187;
  --color-tablechiaro: #c7f8eb;
  --color-tablescuro: #21a9af;
}
nav {
  background-image: url("https://cdn.discordapp.com/attachments/983651757311815720/984770654597414963/unknown.png");
  max-width: 100%;
  background-size: 200vh;
}
.carousel {
  width: 400px;
  height: 360px;
  margin: auto;
  display: block;
}

body {
  background-color: var(--color-lavender);
}

footer {
  background-image: url("https://cdn.discordapp.com/attachments/983651757311815720/984770654597414963/unknown.png");
  width: 100%;
  max-height: 70%;
  background-size: 200vh;
}
